# Dependencies
node_modules/

# Build artifacts
dist/
out/
*.vsix

# Logs
npm-debug.log*
yarn-debug.log*

# Environment & OS
.env
.DS_Store

# VS Code (Allow shared debug config, ignore local user states)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json