langchain
langchain-core
langchain-google-genai
google-generativeai
langchain-huggingface
huggingface-hub
transformers
python-dotenv
numpy
scikit-learn
langchain-qdrant
sentence-transformers   
qdrant-client
langchain-community 
langchain-text-splitters
fastapi
uvicorn